body {
    background: #ffffff;
}

svg {
    width: 300;
    height: 300;
    border: 1px solid black;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}

#cuadra {
    fill: none;
    stroke: green;
    stroke-width: 3px;
}

#gra_tri {
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}

#triang {
    fill: lime;
}

#cate_a {
    fill: red;
}

#cate_b {
    fill: yellow;
}
